<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sound Buttons</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="buttons-container">
    <button class="sound-button" onclick="playSound('static/water.mp3')">Water?</button>
    <button class="sound-button" onclick="playSound('static/biem.mp3')">Biem!</button>
    <button class="sound-button" onclick="playSound('static/schmeve.mp3')">Schmeve</button>
    <button class="sound-button" onclick="playSound('static/sound4.mp3')">Sound 4</button>
    <button class="sound-button" onclick="playSound('static/sound5.mp3')">Sound 5</button>
    <button class="sound-button" onclick="playSound('static/sound6.mp3')">Sound 6</button>
    <button class="sound-button" onclick="playSound('static/sound7.mp3')">Sound 7</button>
    <button class="sound-button" onclick="playSound('static/sound8.mp3')">Sound 8</button>
    <button class="sound-button" onclick="playSound('static/sound9.mp3')">Sound 9</button>
  </div>

  <script>
    function playSound(soundFile) {
      var audio = new Audio(soundFile);
      audio.play();
    }
  </script>
</body>
</html>
